<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1"> 
    <title>PetShop</title>
    <link rel='stylesheet' href='../stylesheets/index.css' />
  </head>
  <body>
    <div class="container">
     <div class="range_item">
      <p class="text">Compre online com 10% OFF. O mais Rápido do Mundo</p>
      </div>
      <div class="range_item">
        <form action="">
          <input type="submit" name="btnatendimento" value="Atendimento" class="btnatendimento">
        </form>
      </div>
      </div>
    <header>
      <div class="headerContainer">
        <div class="header_img">
          <img class="imgLogo" src="https://image.freepik.com/vetores-gratis/logotipo-de-petshop-para-gatos-e-caes_9645-750.jpg">
        </div>
        <div class="busca">
          <input type="text" id="txtBusca" placeholder="Buscar...">
          <button class="btnBusca">Buscar</button>
        </div>
        <div class="call-box">
          <img id="imgEntrar" src="https://image.flaticon.com/icons/png/512/891/891389.png" alt="">
          <form action="" method="POST">
            <input type="submit" name="btn" value="Bem Vindo">
          </form>
        </div>
      </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
  </body>
</html>
