<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1"> 
    <title>PetShop</title>
    <link rel='stylesheet' href='../stylesheets/products.css' />
  </head>
  <body>
    <%- include('./partials/header')%>
    <h1>Tela de Produtos</h1>
    <main>

    </main>
    <footer>

    </footer>
  </body>
</html>