<!DOCTYPE html>
<html>
<head>
    <title>Redefinir Senha</title>
    <link rel='stylesheet' href='/stylesheets/resetpassword.css' />
</head>
<body>
    <main>
        <div class="login-container">
            <div class="box-centro-branco">
                <div class="box-login">
                    <div class="alinha-logo">
                        <img class="img-logo" src="https://image.freepik.com/vetores-gratis/logotipo-de-petshop-para-gatos-e-caes_9645-750.jpg" class="imagen-login">
                    </div>
                    <div class="login-forms">
                        <form action="" method="POST">
                            <label for="name" class="name">Digite seu email:</label><br>
                            <input type="email" name="email" id="email" placeholder="email" class="email">
                            <input type="submit" name="botao" value="Enviar" class="btn">
                            <input type="submit" name="voltar" value="voltar" class="voltar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
       
</body>
</html>