/*BODY*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.type-radio {
  display: inline-flex;
}

.products-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: auto;
  height: auto;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}

.tela-cadastro {
  align-items: center;
  justify-content: space-evenly;
}

#h1-produto {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 0;
}
#price {
  margin-left: 3px;
  margin-top: 10px;
}

#descricao {
  margin-left: 60px;
  margin-top: 10px;
}

#produto-nome {
  align-self: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card {
  flex: 0 0 150px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
