body {
  width: auto;
  
}

#created {
  display: flex;
  flex-direction: column-reverse;
  color: red;

  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 45vh;
  border: solid;
  border-radius: 15px;
  margin-top: 150px;
}

